body {
  font-family: Dubai, Impact, sans-serif;
  text-align: center;
  font-size: 20px;
}

.title {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  font-family: Dubai;
}

#quarto-header .navbar {
  background: linear-gradient(90deg, #0a0f1a, #111827);
  border-bottom: 2px solid #27aee8;
  box-shadow: 0 0 15px rgba(14, 158, 230, 0.4);
}

.navbar-title {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: #27aee8 !important;
}

.nav-link {
  color: #cbd5e1 !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: #27aee8 !important;
  transform: translateY(-2px);
}


.quarto-title h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #27aee8;
  text-shadow: 0 0 10px rgba(14, 158, 230, 0.4);
}

img {
  border-radius: 16px;
  transition: 0.4s ease;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

img:hover {
  transform: scale(1.05);
}

.blog-subtitle {
  font-size: 1.5rem;
  color: #27aee8;
  margin-top: 20px;
  text-shadow: 0 0 5px rgba(14, 158, 230, 0.4);
  font-family: dubai;
}

#quarto-header {
  background: linear-gradient(90deg, #6e371f, #634429);
  border-bottom: 2px solid #27aee8;
  box-shadow: 0 0 15px rgba(14, 158, 230, 0.4);
}